body {
    background: #111;
    padding: 1rem 2rem;
    margin: 0;
    color: #eee;
    font-family: sans-serif;
    font-weight: 100;
}

#content {
    width: min(100%, 64rem);
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
}

input {
    background: none;
    padding: 0;
    font: inherit;
    color: inherit;
    border: none;
    outline: none;
}

header {
    display: flex;
    align-items: flex-end;
    border-bottom: 1px solid #555;
}

header>h1 {
    font: inherit;
    font-size: 2rem;
    margin: 0;
}

header>span {
    padding: 0.25em 1em;
}

nav {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.palette {
    background: #222;
    border: solid 1px transparent;
    border-radius: 1000px;
    cursor: pointer;
    color: #888;
    user-select: none;
    padding: 0.5rem 1rem;
    transition: all 0.2s ease-out;
}

.palette:hover {
    border-color: #555;
}

#add-palette {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#add-palette:hover {
    background: #333;
    color: #ccc;
    border-color: transparent;
}

.selected {
    background: #333;
    color: #ccc;
    cursor: default;
}

main {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.colour {
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    width: 4rem;
    aspect-ratio: 1 / 1;
    padding: 1rem;
    user-select: none;
}

#add-colour {
    background: #222;
    color: #888;
}

#add-colour:hover {
    background: #333;
    color: #ccc;
}

#editor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    position: absolute;
    inset: 0;
    background: #000c;
    padding: 1rem 2rem;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.2s ease;
}

#editing {
    cursor: default;
    position: relative;
    overflow: hidden;
}

#editing-original {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 50%;
}

#save {
    background: #222;
    border: solid 1px transparent;
    border-radius: 1000px;
    cursor: pointer;
    color: #888;
    user-select: none;
    padding: 0.5rem 1rem;
    transition: all 0.2s ease-out;
}

#save:hover {
    border-color: #555;
}

#save.changed {
    color: #ccc;
}