main {
    position: relative;
}

input {
    background: none;
    padding: 0;
    font: inherit;
    color: inherit;
    border: none;
    outline: none;
}

nav {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.palette {
    background: #303030;
    border: solid 1px transparent;
    border-radius: 1000px;
    cursor: pointer;
    color: #808080;
    user-select: none;
    padding: 0.5rem 1rem;
    transition: all 0.2s ease-out;
}

.palette:hover {
    border-color: #606060;
}

#add-palette {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#add-palette:hover {
    background: #404040;
    color: #e0e0e0;
    border-color: transparent;
}

.selected {
    background: #404040;
    color: #e0e0e0;
    cursor: default;
}

#colours {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
}

.colour {
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    width: 6rem;
    aspect-ratio: 1 / 1;
    padding: 1rem;
    user-select: none;
}

#add-colour {
    background: #303030;
    color: #808080;
    transition: all 0.2s ease-out;
}

#add-colour:hover {
    background: #404040;
    color: #e0e0e0;
}

#editor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    position: absolute;
    inset: 0;
    background: #202020c0;
    padding: 1rem 2rem;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.2s ease;
}

#editing {
    cursor: default;
    position: relative;
    overflow: hidden;
}

#editing>#copy-colour {
    background: #202020;
    padding: 1rem;
    border-radius: 1000px;
    aspect-ratio: 1 / 1;
    color: #e0e0e0;
    z-index: 1;
    cursor: pointer;
}

#editing-original {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 50%;
}

#save,
#burn {
    background: #404040;
    border: solid 1px transparent;
    border-radius: 1000px;
    cursor: pointer;
    color: #808080;
    user-select: none;
    padding: 0.5rem 1rem;
    transition: all 0.2s ease-out;
}

#save:hover,
#burn:hover {
    border-color: #606060;
}

#save.changed {
    color: #e0e0e0;
}